<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>🌙 Good night, dear.</title>
    <meta name="title" content="🌙 Good night, dear." />
    <meta
      name="description"
      content="Maybe, Skoy bedtime story is not okay for your kids."
    />

    <!-- OG/Fb -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rootenginear.github.io/good-night-dear/" />
    <meta property="og:title" content="🌙 Good night, dear." />
    <meta
      property="og:description"
      content="Maybe, Skoy bedtime story is not okay for your kids."
    />
    <meta property="og:image" content="assets/bg.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://rootenginear.github.io/good-night-dear/"
    />
    <meta property="twitter:title" content="🌙 Good night, dear." />
    <meta
      property="twitter:description"
      content="Maybe, Skoy bedtime story is not okay for your kids."
    />
    <meta property="twitter:image" content="assets/bg.jpg" />

    <!-- COLORS -->
    <meta name="theme-color" content="#28272d" />
    <meta name="msapplication-navbutton-color" content="#28272d" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link
      href="https://fonts.googleapis.com/css?family=Mali&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body style="background:url(assets/bg.jpg) fixed">
    <br />
    <div id="app" class="paper container border border-primary border-2">
      <!-- HEADER -->
      <header style="text-align:center">
        <h1 style="margin:0">🌙 Good night, dear.</h1>
        <p style="margin:0"
          >วิธีเล่น: ให้พิมพ์ข้อความบางส่วนจากนิทานภาษาสก๊อยให้เป็นภาษาไทยให้ถูกต้อง</p
        >
      </header>
      <br />
      <!-- SKOY STORY -->
      <section class="border border-4 border-primary shadow" style="padding:1rem">{{
        skoyStory
      }}</section>
      <br />
      <section>
        <!-- INPUT -->
        <textarea
          placeholder="กาลครั้งหนึ่งนานมาแล้ว..."
          v-model="userTranslation"
          rows="3"
          style="width:100%;resize:none;overflow-y:auto"
          :disabled="isLoading"
        ></textarea>
        <br />
        <!-- BUTTONS -->
        <div class="row">
          <div class="col-fill col" style="padding:0">
            <button class="border-5" @click="generateStory" :disabled="isLoading"
              >🔄 เปลี่ยนโจทย์</button
            >
          </div>
          <div class="col-fill col" style="padding:0;text-align:center">
            <button
              class="border-2"
              @click="toggleModal('aboutModal')"
              :disabled="isLoading"
              >เกี่ยวกับผู้ทำ</button
            >
          </div>
          <div class="col-fill col" style="padding:0;text-align:right">
            <button class="border-6" @click="checkStory" :disabled="isLoading"
              >ตรวจคำตอบ ✅</button
            >
          </div>
        </div>
      </section>
      <br />
      <!-- SOLUTION MODAL -->
      <input class="modal-state" ref="solutionModal" type="checkbox" />
      <div class="modal">
        <div class="modal-bg"></div>
        <div class="modal-body border border-3" style="border-color:#41403e">
          <section style="font-weight:bold;text-align:center;font-size:2rem"
            >คุณแปลถูก:
            <span
              :style="{color:['red','orange','green','green'][Math.floor(modalPercentage/(100/3))]}"
              >{{ modalPercentage }}%</span
            ></section
          >
          <section>
            <div style="font-weight:bold">เนื้อเรื่องจริง:</div>
            <p class="modal-text" v-html="modalContentCorrent"></p>
          </section>
          <section v-if="modalPercentage>0&&modalPercentage<100">
            <div style="font-weight:bold">เนื้อเรื่องที่แปล:</div>
            <p class="modal-text" v-html="modalContentInput"></p>
          </section>
          <section style="text-align:center">
            <button class="border-2" @click="newStory">📃 ลองเรื่องใหม่</button>
          </section>
        </div>
      </div>
      <!-- ABOUT MODAL -->
      <input class="modal-state" ref="aboutModal" type="checkbox" />
      <div class="modal">
        <div class="modal-bg" @click="toggleModal('aboutModal')"></div>
        <div class="modal-body border border-6" style="border-color:#41403e">
          <span class="btn-close" @click="toggleModal('aboutModal')">X</span>
          <b
            >สรรค์สร้างความปวดหัวโดย:
            <a href="https://github.com/rootEnginear">rootEnginear</a></b
          >
          <br />
          <b>Resources:</b>
          <ul style="margin:0;padding-left:1ch">
            <li
              ><a href="http://www.kalyanamitra.org/th/Aesop_list.php"
                >นิทานอีสปสอนใจ</a
              ></li
            >
            <li><a href="https://www.getpapercss.com/">PaperCSS</a></li>
            <li
              ><a href="https://fonts.google.com/specimen/Mali"
                >Mali - Google Fonts</a
              ></li
            >
            <li><a href="https://vuejs.org/">Vue.js</a></li>
            <li><a href="https://github.com/axios/axios">axios</a></li>
            <li><a href="https://github.com/narze/toSkoy">toSkoy</a></li>
            <li><a href="https://github.com/kpdecker/jsdiff">jsdiff</a></li>
            <li
              ><a href="https://www.freepik.com/free-photos-vectors/background"
                >Background vector created by rawpixel.com</a
              ></li
            >
          </ul>
        </div>
      </div>
    </div>
    <br />
    <!-- Scripts -->
    <script src="assets/toSkoy.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/4.0.1/diff.min.js"
      integrity="sha256-xofEpXTFTnsOK+GIsjgJc1ZN0kSE3KsTtZJ2GQaWs3I="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="app.js"></script>
  </body>
</html>
