<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>🌙 Good night, dear.</title>
  <meta name="title" content="🌙 Good night, dear." />
  <meta
    name="description"
    content="Maybe, Skoy bedtime story is not okay for your kids." />

  <!-- OG/Fb -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://rootenginear.github.io/good-night-dear/" />
  <meta property="og:title" content="🌙 Good night, dear." />
  <meta
    property="og:description"
    content="Maybe, Skoy bedtime story is not okay for your kids." />
  <meta property="og:image"
    content="https://rootenginear.github.io/good-night-dear/assets/bg.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:domain" content="rootenginear.github.io">
  <meta
    property="twitter:url"
    content="https://rootenginear.github.io/good-night-dear/" />
  <meta property="twitter:title" content="🌙 Good night, dear." />
  <meta
    property="twitter:description"
    content="Maybe, Skoy bedtime story is not okay for your kids." />
  <meta name="twitter:image"
    content="https://rootenginear.github.io/good-night-dear/assets/bg.jpg">

  <!-- COLORS -->
  <meta name="theme-color" content="#28272d" />
  <meta name="msapplication-navbutton-color" content="#28272d" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <!-- PRELOADS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">

  <link rel="preconnect" href="https://unpkg.com/">
  <link rel="dns-prefetch" href="https://unpkg.com/">

  <!-- CSS'S -->
  <link href="https://fonts.googleapis.com/css2?family=Mali:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.3/dist/paper.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body style="background:url(assets/bg.jpg) fixed">
  <br />
  <div id="app" class="paper container border border-primary border-2">
    <!-- HEADER -->
    <header style="text-align:center">
      <h1 style="margin:0">🌙&#xFE0F; Good night, dear.</h1>
      <p style="margin:0">
        วิธีเล่น: ให้พิมพ์ข้อความบางส่วนจากนิทานภาษาสก๊อยให้เป็นภาษาไทยให้ถูกต้อง
      </p>
    </header>
    <br />
    <!-- SKOY STORY -->
    <section class="border border-4 border-primary shadow" style="padding:1rem">
      {{ skoyStory }}
    </section>
    <br />
    <section>
      <!-- INPUT -->
      <textarea
        placeholder="กาลครั้งหนึ่งนานมาแล้ว..."
        v-model.trim="userTranslation"
        rows="3"
        style="width:100%;resize:none;overflow-y:auto"
        :disabled="isLoading"></textarea>
      <br />
      <!-- BUTTONS -->
      <div class="row">
        <div class="col-fill col" style="padding:0">
          <button class="border-5" @click="generateStory" :disabled="isLoading">
            🔄&#xFE0F; เปลี่ยนโจทย์
          </button>
        </div>
        <div class="col-fill col" style="padding:0;text-align:center">
          <button class="border-2" @click="toggleAboutModal" :disabled="isLoading">
            เกี่ยวกับผู้ทำ
          </button>
        </div>
        <div class="col-fill col" style="padding:0;text-align:right">
          <button class="border-6" @click="checkStory" :disabled="isLoading">
            ตรวจคำตอบ ✅&#xFE0F;
          </button>
        </div>
      </div>
    </section>
    <br />
    <!-- SOLUTION MODAL -->
    <input class="modal-state" ref="solutionModal" type="checkbox" />
    <div class="modal">
      <div class="modal-bg"></div>
      <div class="modal-body border border-3" style="border-color:#41403e">
        <section style="font-weight:bold;text-align:center;font-size:2rem">
          คุณแปลถูก:
          <span :style="modalPercentageColor">
            {{ modalPercentage }}%
          </span>
        </section>
        <section v-if="modalPercentageShowOriginal">
          <div style="font-weight:bold">เนื้อเรื่องภาษาสก๊อย:</div>
          <p class="modal-text">{{skoyStory}}</p>
        </section>
        <section>
          <div style="font-weight:bold">เนื้อเรื่องจริง:</div>
          <p class="modal-text" v-html="modalContentCorrent"></p>
        </section>
        <section v-if="modalPercentageShowOriginal">
          <div style="font-weight:bold">เนื้อเรื่องที่แปล:</div>
          <p class="modal-text" v-html="modalContentInput"></p>
        </section>
        <section style="text-align:center">
          <button class="border-2" @click="newStory">📃&#xFE0F; ลองเรื่องใหม่</button>
        </section>
      </div>
    </div>
    <!-- ABOUT MODAL -->
    <input class="modal-state" ref="aboutModal" type="checkbox" />
    <div class="modal">
      <div class="modal-bg" @click="toggleAboutModal"></div>
      <div class="modal-body border border-6" style="border-color:#41403e">
        <span class="btn-close" @click="toggleAboutModal">X</span>
        <b>สรรค์สร้างความปวดหัวโดย:
          <a href="https://github.com/rootEnginear" target="_blank"
            rel="nofollow noopener noreferrer">
            rootEnginear
          </a>
        </b>
        <br />
        <b>Resources:</b>
        <ul style="margin:0;padding-left:1ch">
          <li>
            <a href="http://www.kalyanamitra.org/th/Aesop_list.php" target="_blank"
              rel="nofollow noopener noreferrer">
              นิทานอีสปสอนใจ
            </a>
          </li>
          <li>
            <a href="https://www.getpapercss.com/" target="_blank"
              rel="nofollow noopener noreferrer">
              PaperCSS
            </a>
          </li>
          <li>
            <a href="https://fonts.google.com/specimen/Mali" target="_blank"
              rel="nofollow noopener noreferrer">
              Mali - Google Fonts
            </a>
          </li>
          <li>
            <a href="https://vuejs.org/" target="_blank"
              rel="nofollow noopener noreferrer">
              Vue.js
            </a>
          </li>
          <li>
            <a href="https://github.com/narze/toSkoy" target="_blank"
              rel="nofollow noopener noreferrer">
              toSkoy
            </a>
          </li>
          <li>
            <a href="https://github.com/kpdecker/jsdiff" target="_blank"
              rel="nofollow noopener noreferrer">
              jsdiff
            </a>
          </li>
          <li>
            <a href="https://www.freepik.com/free-photos-vectors/background"
              target="_blank" rel="nofollow noopener noreferrer">
              Background vector created by rawpixel.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <!-- Scripts -->
  <script src="toSkoy.js"></script>
  <script src="https://unpkg.com/diff@5.0.0"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

  <script src="app.js" defer></script>
</body>

</html>